<h1>Flight: <%= @flight.id %></h1>
<p>Price to pay: <%= @price %></p>
<p><strong>Departure Airport: </strong><%= @flight.departure_airport.code %></p>
<p><strong>Arrival Airport: </strong><%= @flight.arrival_airport.code %></p>
<p><strong>Duration: </strong><%= @flight.duration.floor %> hours <%= (@flight.duration.modulo(1)*60).to_i %> minutes</p>
<p><strong>Start Datetime: </strong><%= @flight.start_datetime %></p>
<p><strong>Seats Left: </strong><%= @flight.seats_left %></p>

<%= form_with model: @booking do |f| %>
  <%= f.hidden_field :flight_id, value: @flight.id %>
    <%= f.fields_for :passengers do |sf| %>
      <article>
        <%= sf.label :name %>
        <%= sf.text_field :name %>
        <%= sf.label :email %>
        <%= sf.text_field :email %>
      </article>
      <br />
    <% end %>
  <%= f.submit %>
<% end %>
